body {
  background-color: #ffffff;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4UBesqnAGarc_oWfTB9R48t4Uag7Wy7i0lw&usqp=CAU");
background-attachment: fixed;
background-size: cover;
}
